/*
**      Раздел служебных правил
*/

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/*---------------------------------------------------------------------------*/

/*
**      Раздел типографики сайта
*/

body {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

h1, h2 {
    color: #000;
    font-size: 21px;
    line-height: 1.238;
    font-weight: bold;
}
/*---------------------------------------------------------------------------*/

/*
**      Раздел сеточной структуры
*/

/*
    Временный стиль для визуального контроля построения сетки
*/
.container,
.row,
.column {
    outline: 1px dashed  rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.1);
}

/*
    Основные классы сеточной структуры
*/
.container {

}
.row {

}
.column {

}
.column-single {

}
.column-double {

}

/*
    Общие блоки для всех страниц
*/
.main-header {

}
.main-footer {

}

/*
    index.html
*/
.intro {

}
.features {

}
.advices {

}
.search {

}
.map {

}

/*
    hotels.html
*/
.hotels-filters {

}
.hotels-catalog {

}
/*---------------------------------------------------------------------------*/
