/**
 *  ============================================================================
 *       Cлужебные правила
 *  ============================================================================
**/

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.hidden {
    display: none;
}


@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url(https://fonts.gstatic.com/s/ptsans/v8/ucVW2l9YCcVE52VxGq2zIw.woff2) format('woff2'),
    url(https://fonts.gstatic.com/s/ptsans/v8/O5pe56LvR8OXax_Q9tUMDg.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
      url(https://fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'),
      url(https://fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


@font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.eot?60737633');
    src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
        url('../font/symbols-sedona.woff?60737633') format('woff'),
        url('../font/symbols-sedona.ttf?60737633') format('truetype'),
        url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    font-family: "symbols-sedona";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook::before { content: '\66'; } /* 'f' */
.icon-twitter::before { content: '\74'; } /* 't' */
.icon-up-dir::before { content: '\25b2'; } /* '▲' */
.icon-down-dir::before { content: '\25bc'; } /* '▼' */
.icon-star::before { content: '\2605'; } /* '★' */
.icon-check-off::before { content: '\2610'; } /* '☐' */
.icon-check-on::before { content: '\2611'; } /* '☑' */
.icon-calendar::before { content: '\e800'; } /* '' */
.icon-plus::before { content: '\e801'; } /* '' */
.icon-minus::before { content: '\e802'; } /* '' */
.icon-youtube::before { content: '\f39e'; } /* '' */



/**
 *  ============================================================================
 *       Сетка
 *  ============================================================================
**/

/*  Временный стиль для визуального контроля построения сетки
------------------------------------------------------------------------------*/
.row,
.column {
    outline: 1px dashed  rgba(0,0,0,.2);
}

/*  Центрирование и установка диапазона ширин сайта
------------------------------------------------------------------------------*/
body {
    min-width: 768px;
}

.main-container {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
}

/*  Набор классов для построения сетки
------------------------------------------------------------------------------*/
.column {
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
}
.column:last-child {
    float: right;
}
.column:only-child {
    float: none;
}

.column-single {
    width: 33%;
}
.column-double {
    width: 67%;
}
.column-single:not(:first-child):not(:last-child) {
    width: 34%;
}


/*  Раскладка шапки сайта
------------------------------------------------------------------------------*/
.main-header {

}


/*  Раскладка подвала сайта
------------------------------------------------------------------------------*/
.main-footer {

}


/*  Раскладка index.html
------------------------------------------------------------------------------*/
.intro .intro-footer {
    padding-bottom: 50px;
}
.features .feature-description {
    padding-top: 40px;
    padding-bottom: 40px;
}
.advices .advice-description {
    padding-top: 50px;
    padding-bottom: 60px;
}
.search {
    padding-top: 50px;
}
.search .search-form.hidden {
    display: none;
}
.map {

}


/*  Раскладка hotels.html
------------------------------------------------------------------------------*/

/* На широком экране отступы - 5.9% слева / 6.8% справа */
.hotels-row .column:first-child { padding-left: 5.9%; }
.hotels-row .column:last-child { padding-right: 6.8%; }

.hotels-row .column-single:first-child { width: 27.1%; /* 33% - 5.9% */ }
.hotels-row .column-single:last-child { width: 26.2%; /* 33% - 6.8% */  }

.hotels-row .column-double:first-child { width: 61.1%; /* 67% - 5.9% */ }
.hotels-row .column-double:last-child { width: 60.2%; /* 67% - 6.8% */ }

.hotels-row .column:first-child:last-child { width: auto; }

.hotels-row .catalog-row {
    padding-left: 5.9%;
    padding-right: 6.8%;
}

/* При ширине до 984px отступы - 3.9% слева / 4.2% справа */
@media (max-width: 984px) {
    .hotels-row .column:first-child { padding-left: 3.9%; }
    .hotels-row .column:last-child { padding-right: 4.2%; }

    .hotels-row .column-single:first-child { width: 29.1%; /* 33% - 3.9% */ }
    .hotels-row .column-single:last-child { width: 28.8%; /* 33% - 4.2% */  }

    .hotels-row .column-double:first-child { width: 63.1%; /* 67% - 3.9% */ }
    .hotels-row .column-double:last-child { width: 62.8%; /* 67% - 4.2% */ }

    .hotels-row .column:first-child:last-child { width: auto; }

    .hotels-row .catalog-row {
        padding-left: 3.9%;
        padding-right: 4.2%;
    }
}

.hotels-filters {
    padding-top: 25px;
}
.catalog-row {
     padding-top: 30px;
     padding-bottom: 30px;
}



/**
 *  ============================================================================
 *       Оформление и декорирование
 *  ============================================================================
**/

body {
    font-size: 14px;
    line-height: 21px;

    font-family: 'PT Sans', Arial, sans-serif;

    text-transform: uppercase;

    color: #333;
    background: #f2f2f2;
}

.main-container {
    box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2);
}


/*  стилизация шапки сайта
------------------------------------------------------------------------------*/
.main-header {
    position: relative;
    background: #fff;
}


.main-menu a {
    float: left;

    width: 20%;
    padding: 15px 0;

    font-size: 14px;
    line-height: 26px;

    font-weight: bold;

    text-align: center;
    text-decoration: none;

    outline: 1px dashed rgba(0,0,0,.2);
}

.main-menu a { color: #000; }
.main-menu a:hover { color: #81b3d2; }
.main-menu a:active {
    color: #000;
    opacity: .3;
}

.main-menu .active { color: #766357; }
.main-menu .active:hover { color: #604e43; }
.main-menu .active:active {
    color: #766357;
    opacity: .3;
}

.main-menu a:nth-child(2){
    margin-right: 20%;
}


.main-header .logo {
    position: absolute;
    z-index:99;
    left: 50%;

    display: block;
    width: 104px;
    height: 104px;
    margin-left: -52px;

    font-size: 0;

    color: #000;
    background: transparent url('../img/logo.png') no-repeat 0 0;

    transform: translateY(-50px) rotate(-45deg);
    transition: opacity 0.3s;
}

.main-header .logo:hover { opacity: .8; }
.main-header .logo:active { opacity: 1; }


/*  стилизация подвала сайта
------------------------------------------------------------------------------*/
.main-footer {
    padding: 36px 0;

    text-align: center;

    background: rgba(254,254,254,.9);
}


.footer-links {
    padding: 11px 0;
}

.footer-links a {
    font-size: 21px;
    line-height: 26px;

    font-weight: bold;

    text-decoration: none;
}

.footer-links a { color: #000; }
.footer-links a:hover { color: #81b3d2; }
.footer-links a:active {
    color: #000;
    opacity: .3;
}


.footer-socials {
    font-size: 0;
}

.footer-socials .btn-social {
    display: inline-block;
    vertical-align: top;

    width: 46px;
    height: 48px;
    margin-right: 6px;

    font-size: 0;
    text-decoration: none;

    background: #81b3d2;
}

.footer-socials .btn-social::before {
    font-size: 20px;
    line-height: 48px;
    color: #fff;
}

.footer-socials .btn-social:hover { background: #669ec0; }
.footer-socials .btn-social:active { background: #5496bd; }
.footer-socials .btn-social:active::before { opacity: .3; }


.footer-copyright {
    font-size: 14px;
    line-height: 48px;
}

.footer-copyright .logo-htmlacademy {
    display: inline-block;
    vertical-align: top;

    width: 113px;
    height: 39px;
    margin-left: 8px;
    margin-top: 8px;

    font-size: 0;

    text-decoration: none;

    background: transparent url('../img/sprites-logo-htmlacademy.png') no-repeat;
}

.footer-copyright .logo-htmlacademy {  background-position: 50% -198px; }
.footer-copyright .logo-htmlacademy:hover { background-position: 50% -99px; }
.footer-copyright .logo-htmlacademy:active { background-position: 50% 0; }
