/*
**      Раздел служебных правил
*/

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/*---------------------------------------------------------------------------*/

/*
**      Раздел типографики сайта
*/

body {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

h1, h2 {
    color: #000;
    font-size: 21px;
    line-height: 1.238;
    font-weight: bold;
}
/*---------------------------------------------------------------------------*/

/*
**      Раздел сеточной структуры
*/

/*
Т.З. - Сетка:
    1) диапазон ширин от 768px до 1200px
    2) контентная область центрируется и не может быть уже макетной ширины
    3) при достижении 1200px сетка перестаёт масштабироваться дальше
    4) три колонки равной ширины (33%), стоящие вплотную друг к другу без отступов
*/

/*
    Временный стиль для визуального контроля построения сетки
*/
.container,
.row,
.column {
    outline: 1px dashed  rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.1);
}

/*
    Основные классы сеточной структуры
    !important - исключаем переопределение параметров влияющих на размеры сетки
    Тест сетки: https://jsfiddle.net/1t95298x/3/

*/
.container {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
}
.row {

}

.column {
    float: left;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-left: none !important;
    border-right: none !important;
}
.column:last-child {
    float: right;
}
.column:only-child {
    float: none;
}

.column-single {
    width: 33% !important;
}
.column-double {
    width: 67% !important;
}
.column-single:not(:first-child):not(:last-child) {
    width: 34% !important;
}

/*
    Общие блоки для всех страниц
*/
.main-header {

}
.main-footer {

}

/*
    index.html
*/
.intro {

}
.features {

}
.advices {

}
.search {

}
.map {

}

/*
    hotels.html
*/
.hotels-filters {

}
.hotels-catalog {

}
/*---------------------------------------------------------------------------*/
